<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>

    <!--String de conexión a la base de datos-->
    <add key="cadenaConexionBD" value="Data Source = EMSOLUCIONES-PC\SQL; Initial Catalog = Countries; Integrated Security = True"/>
    <!--add key="cadenaConexionBD" value="data source = LOCALHOST; initial catalog = Demo; user id = sa; password = Ne0tech"/>-->

  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
